h1{
	color:red;
	border-bottom:1px solid #ccc;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
h2{
	color:blue;
}
nav{
	float: left;
	height: 500px;
	border-right: 1px solid #ccc;
	margin-right: 20px;
	padding-right: 20px;
}
p1{
	font-size: 30px;
	font-weight: bold;
}
div{
	float:left;
	padding:20px;
	width: :500px;
}