h1{
	color:red;

}
h2{
	color:blue;
}
#loginform{
	color:red;
}
#headUI{
	border-bottom:1px solid #ccc;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
#leftUI{
	float: left;
	height: 1000px;
	border-right: 1px solid #ccc;
	margin-right: 20px;
	padding-right: 20px;
}
p1{
	font-size: 30px;
	font-weight: bold;
}
div{

	padding:20px;
	width:500px;
}

#rank{
	border-collapse:collapse;
	padding: 5px;
	margin:5px;
}
.t{
	color:red;
}
td{
	background:#CEECF5;
	padding:5px;
	margin:5px;
}


